<!DOCTYPE html>
<html lang="en">
<head>
	   <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Document</title>
	<!-- 引用文件 -->
	<script src='index_file/jquery.min.js'></script>
	<link rel="stylesheet" href="index_file/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="index_css/index.css">
	<link rel="stylesheet" href="index_css/public.css">
	<link rel="stylesheet" href="components/prehead/prehead.css">
	<link rel="stylesheet" href="components/mainfoot/mainfoot.css">
	<link rel="stylesheet" href="components/mainbanner/mainbanner.css">
	
	
	
</head>
<body>
	<div id="app">
		<div id="header">
			<prehead></prehead>
		</div>
		<div id="main" align="center">
			<mainbanner></mainbanner>
			<div class='tbanner' align="left">
				<div class="t_moning">
					<h2>今日早餐推荐：爱是一起共享美味早餐</h2>
					<ul>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_1/ul1_1.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>千层葱油饼</h3>
								<p>又香又脆，好吃到停不下来</p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_1/ul1_2.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>养生银耳羹</h3>
								<p>滋润香甜的糖水，美容又健康</p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_1/ul1_3.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>乡巴佬卤鸡蛋</h3>
								<p>味道鲜美，口感有弹性，百吃不厌</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="t_lunch">
					<h2>今日午餐推荐：好吃不怕胖，就是要吃尽兴</h2>
					<ul>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_2/ul2_1.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>香菇豆腐丸子</h3>
								<p>鲜嫩美味可口，味道特别的好 </p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_2/ul2_2.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>酸辣椒炒肉</h3>
								<p>酸酸甜甜，开胃好吃，全家都爱吃</p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_2/ul2_3.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3> 豆豉烧黄鱼</h3>
								<p>豆豉配黄鱼，滋味浓郁，特别的下饭</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="t_tea">
					<h2>今日下午茶推荐：美味甜品，送你好心情</h2>
					<ul>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_3/ul3_1.jpg" alt='图片加载中....'>
							</a>
							<div class="hover"> 
								<h3>原味华夫饼</h3>
								<p>美味华夫饼，好吃又好做</p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_3/ul3_2.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>蔓越莓乳酪冰皮月饼</h3>
								<p>酸甜可口，吃了不会腻</p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_3/ul3_3.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>葡萄干饼干</h3>
								<p>	简单好做，松脆可口，值得一试 </p>
							</div>
						</li>
					</ul>	
				</div>
				<div class="t_dinner">
					<h2>今日晚餐推荐：菇香四溢，美味又下饭</h2>
					<ul>
						<li>							
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_4/ul4_1.jpg" alt='图片加载中....'>
							</a>
							<div  class="hover">
								<h3>香菇红烧肉</h3>
								<p>香菇烧肉，有你想不到的美味 </p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_4/ul4_2.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>凉拌手撕杏鲍菇</h3>
								<p>香浓的菌菇味道，好吃到不要不要的 </p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_4/ul4_3.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>菠萝咕噜肉</h3>
								<p>菠萝入菜，酸甜开胃，太下饭了 </p>
							</div>
						</li>
					</ul>
				</div>
				<div class="t_night">
					<h2>今日夜宵推荐：用美味填饱你的胃口</h2>
					<ul>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_5/ul5_1.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>黄金馒头片</h3>
								<p>十分的香，软软的，咸咸的，值得一试 </p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_5/ul5_2.jpg" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>香葱减谗饼</h3>
								<p>	鸡胸肉的细嫩配上照烧口味，分分钟秒光 </p>
							</div>
						</li>
						<li>
							<a href="">
								<img src=""  data-src="index-img/t-img/ul_5/ul5_3.jpg" class="test" alt='图片加载中....'>
							</a>
							<div class="hover">
								<h3>香葱减谗饼</h3>
								<p>葱香四溢的小饼，吃完满满幸福感 </p>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- 返回顶部小火箭 -->
			<a href="javascript:void(0)" id="gotoTop" onclick="gotoTop()"><img src="index-img/t-img/goto_top/goto_top.png" alt=""></a>
		</div>	
		<div id="footer">
			<mainfoot><mainfoot>
		</div>
	</div>

	
	<!-- preHead模块 -->
	<template id="prehead">
		<div class="capital">
			<div class="header">
				<a href="">
					<img src="components/prehead/img/logo.png" alt='图片加载中....'>
				</a>
			    <form class="bs-example bs-example-form" role="form">  
	                <div class="input-group">
	                    <input type="text" class="form-control" placeholder="请输入菜谱/食材/菜单/作者">
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" type="button">搜索</button>
	                    </span>
	                </div>
			    </form>
				
				<!-- 用户登录前显示的登陆条 -->
				<div class="login_item" v-if='!curUser'>
					<div>
						<img src="components/prehead/img/qq.png" alt='图片加载中....'>
						<a>QQ登陆</a>
					</div>
					<div>
						<img src="components/prehead/img/weibo.png" alt='图片加载中....'>
						<a>微博登陆</a>
					</div>				
					<a href="login.html">注册</a>
					<a href="login.html">登录</a>
				</div>	

				<!-- 用户成功后显示的信息条-->
				<div class="login_item" v-else>
					<div class="dropdown">
						<a href="javascriptvoid(0)" class="dropdown-toggle user_info" data-toggle='dropdown'>欢迎：{{curUser}}
						<span class="caret"></span>
						</a> 
						<a class='dropdown-menu login_out' href="index.html" @click='clearUser' >注销</a> 
					</div>
					
					
					
					<a href="javascript:void(0)">收藏</a>
					<a href="javascript:void(0)">消息</a>
					<a href="javascript:void(0)">签到</a>
					<div></div>
				</div>				
			</div>
			<div class="nav" >
				<ul class="nav  nav-justified">
					<li><a href="#" class="active">首页</a></li>
					<li class="dropdown normal">
						<a href="#" class="dropdown-toggle" data-toggle='dropdown'>菜谱大全
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu all_menu">
							<li v-for='items in menu' >
								<a href="#" v-for="item in items">{{item}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle='dropdown'>饮食健康
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu health_food">
							<li id="healthfood" v-for='foods in healthfood'>
								<a href="#" v-for='food in foods'>{{food}}</a>
							</li>
						</ul>		
					</li>
					<li><a href="#">美食菜单</a></li>
					<li><a href="#">家居馆</a></li>
					<li><a href="#">美食达人</a></li>
					<li><a href="#">讨论组</a></li>
					<li><a href="#">手机版下载</a></li>
				</ul>
			</div>
		</div>
	</template>


	<!-- mainbanner模块 -->
	<template id="mainbanner">
		<div class="mainbanner">
			<div id="m_banner">
				<div id="imgs">
					<img src="components/mainbanner/Banner_img/bg_1.jpg" alt="">
					<img src="components/mainbanner/Banner_img/bg_2.jpg" alt="">
					<img src="components/mainbanner/Banner_img/bg_3.jpg" alt="">
					<img src="components/mainbanner/Banner_img/bg_4.jpg" alt="">
					<img src="components/mainbanner/Banner_img/bg_5.jpg" alt="">
				</div>
				
				<ul class="title">

					<li class="active">
						<img src="components/mainbanner/Banner_img/bg_1.jpg" alt="">
					</li>
					

					<li>
						<img src="components/mainbanner/Banner_img/bg_2.jpg" alt="">
					</li>
					

					<li>
						<img src="components/mainbanner/Banner_img/bg_3.jpg" alt="">
					</li>
					

					<li>
						<img src="components/mainbanner/Banner_img/bg_4.jpg" alt="">
					</li>
						

					<li>
						<img src="components/mainbanner/Banner_img/bg_5.jpg" alt="">
					</li>
					
				</ul>
			</div>
		</div>	
	</template>

		
	<!-- mainfoot模块 -->
	<template id="mainfoot">
		<div class="mainfoot">
			<div class="foot_top">
				<div class="count">
					<img src="components/mainfoot/img/logo_f.png" alt='图片加载中....'>
					<div class="total">
						<div>
							<p v-for='count in data[0]'>{{count}}</p>	
						</div>
						<div>
							<p  v-for='num in data[1]'>{{num}}</p>
						</div>
					</div>
					<span v-text='data[2][0]'></span>
				</div>
				<ul class="foot_r">
					<li>
						<a href="" v-for='items in icon'>
							<img  :src="items.image" alt='图片加载中....'>
							<span>{{items.icon1}}</span><br>
							<span>{{items.icon2}}</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="foot_bottom">
				<dl class="friend_link">
					<dt>友情链接</dt>
					<dd v-for='link in links' :title="link">
						<a href="">{{link}}</a>
					</dd>
				</dl>
				<br>
				<ul class="business">
					<li v-for='work in business'>
						<a href="" title='work'>{{work}}</a>
					</li>
				</ul>
				<p>京ICP证150335号/京公网安备11010802009977 Copyright © 2003-2017 MEISHIJ CO.,LTD.</p>
			</div>
		</div>
	</template>



		
	<!-- 引入vue全家桶 -->
	<script src='index_file/vue.js'></script>
	<script src='index_file/vuex.js'></script>

	<!-- 引入相关组件 -->
	<script src='index_file/bootstrap/js/bootstrap.min.js'></script>
	<script src='components/prehead/prehead.js'></script>
	<script src='components/mainfoot/mainfoot.js'></script>
	<script src='components/mainbanner/mainbanner.js'></script>
	<script src='index_js/lazyload.js'></script>
	<script src='index_js/goto_top.js'></script>
	<script src='index_js/util.js'></script>
	
	<script>
		new Vue({
			el:'#app',
		})
	</script>
</body>
</html>