<!DOCTYPE html>
<html lang="en">
<head>
	   <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Document</title>
	<!-- 引用文件 -->
	<script src='index_file/jquery.min.js'></script>
	<link rel="stylesheet" href="index_file/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="index_css/public.css">
	<link rel="stylesheet" href="components/prehead/prehead.css">
	<link rel="stylesheet" href="components/mainfoot/mainfoot.css">
	<link rel="stylesheet" href="components/login/login.css">
	<link rel="stylesheet" href="components/alert/alert.css">
</head>
<body>
	<div id="app">
		<div id="header">
			<prehead></prehead>
		</div>
		<div id="main" align="center">
			<login></login>		
		</div>	
		<div id="footer">
			<mainfoot><mainfoot>
		</div>
		<!-- 返回顶部小火箭 -->
		<a href="javascript:void(0)" id="gotoTop" onclick="gotoTop()"><img src="index-img/t-img/goto_top/goto_top.png" alt=""></a>	
		<alert></alert>
	</div>
	
	
	<!-- preHead模块 -->
	<template id="prehead">
		<div class="capital">
			<div class="header">
				<a href="">
					<img src="components/prehead/img/logo.png" alt='图片加载中....'>
				</a>
			    <form class="bs-example bs-example-form" role="form">  
	                <div class="input-group">
	                    <input type="text" class="form-control" placeholder="请输入菜谱/食材/菜单/作者">
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" type="button">搜索</button>
	                    </span>
	                </div>
			    </form>
				<div class="login_item">
					<div>
						<img src="components/prehead/img/qq.png" alt='图片加载中....'>
						<a>QQ登陆</a>
					</div>
					<div>
						<img src="components/prehead/img/weibo.png" alt='图片加载中....'>
						<a>微博登陆</a>
					</div>				
					<a>注册</a>
					<a>登录</a>
				</div>
				<!-- <div class="login_item">
					<a href="javascriptvoid(0)">用户名</a>
					<div></div>
					<a href="javascriptvoid(0)">收藏</a>
					<a href="javascriptvoid(0)">消息</a>
					<a href="javascriptvoid(0)">签到</a>
					<div></div>
				</div>	 -->		
			</div>
			<div class="nav">
				<ul class="nav  nav-justified">
					<li><a href="index.html" class="active">首页</a></li>
					<li class="dropdown normal">
						<a href="#" class="dropdown-toggle" data-toggle='dropdown'>菜谱大全
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu all_menu">
							<li v-for='items in menu' >
								<a href="#" v-for="item in items">{{item}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle='dropdown'>饮食健康
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu health_food">
							<li id="healthfood" v-for='foods in healthfood'>
								
								<a href="#" v-for='food in foods'>{{food}}</a>
							</li>
						</ul>		
					</li>
					<li><a href="#">美食菜单</a></li>
					<li><a href="#">家居馆</a></li>
					<li><a href="#">美食达人</a></li>
					<li><a href="#">讨论组</a></li>
					<li><a href="#">手机版下载</a></li>
				</ul>
			</div>
		</div>
	</template>


	<!-- login模块 -->
	<template id="login">
		<div class="login_page">
			<h3 class="login_title">
				<span><img src="index-img/login_img/left.png" alt=""></span>
				登陆美食杰
				<span><img src="index-img/login_img/right.png" alt=""></span>
			</h3>
			<div class="login_dsf">
				<div class="login_dsf_icon">
					<a href="javascript:void(0)"></a>
					<a href="javascript:void(0)"></a>
					<a href="javascript:void(0)"></a>
				</div>
				<a class="toggle" href="javascript:void(0)">更多第三方登录方式 ∨</a>
				<div class="login_dsf_more">
					<a href="javascript:void(0)">人人网账号登录</a>
					<a href="javascript:void(0)">百度账号登录</a>
					<a href="javascript:void(0)">开心网账号登录</a>
					<a href="javascript:void(0)">盛大通行证登录</a>
				</div>
			</div>
			<div class="login_or"></div>
			<div class="login_box">
				<div class="login_error" v-show='errorShow'>× 您输入的用户名或者密码有误，请重试。</div>
				<form action="javascript:void(0)">
					<div class="login_item  input-group">
						<span class="input-group-addon glyphicon glyphicon-user"></span>
						<input class="form-control username" type="text"  name="username" placeholder="请输入手机号/邮箱/昵称" v-model='config.username'  @blur = 'onblur'>
					</div>
					<div class="login_item input-group">
						<span class="input-group-addon glyphicon glyphicon-lock"></span>
						<input class="form-control password" type="password"  name="password" placeholder="请输入密码..." v-model='config.password' @blur = 'onblur'>
					</div>
					<div class="login_item">
						<label for="">
							<input type="checkbox" checked=""> 下次自动登录
						</label>
						<a href="javascript:void(0)">忘记密码？</a>
					</div>
					<div class="login_item">
						<input type="submit" class="submit" value="登录"  :disabled='beDisabled' @click ='send'>
					</div>
				</form>
			</div>
			<div class="register_box">
				<div id="tab">
					<a href="javascript:void(0)" class="active">手机注册 |</a> 
					<a href="javascript:void(0)">邮箱注册</a>
				</div>
				<div class="register">
					<div class="wrap_register">
						<div  class="num_register">
							<form action="">
								<div class="num_register_item  input-group">
									<span class="input-group-addon glyphicon glyphicon-phone"></span>
									<input class="form-control phone" type="tel" v-model='phoneregister.phone'  name="phone" ref='phone' placeholder="请输入手机号" @focus='phonefocus' @blur='phoneblur'>
								</div>
								<div class='hint phone_warning'>请输入正确的手机号码</div>
								<div class='hint phone_false'>请输入正确的手机号码</div>
								<div class='hint phone_true'>手机号码格式正确</div>
						
								<div class="num_register_item input-group">
									<span class="input-group-addon glyphicon glyphicon-lock"></span>
									<input class="form-control password" type="password"  name="password" placeholder="请输入密码..." v-model='phoneregister.password' @focus='passwordfocus' @blur='P_passwordblur'>
								</div>
								<div class="hint password_hint" >密码的长度应为6-16位</div>
								<div class="strongly password_weak" >密码强度：弱</div>
								<div class="strongly password_middle" >密码强度：中</div>
								<div class="strongly password_strong" >密码强度：强</div>
								<div class="num_register_item input-group">
									<span class="input-group-addon glyphicon glyphicon-magnet"></span>
									<input class="form-control mobile_code" type="mobile_code"  name="mobile_code" placeholder="请输入验证码..." v-model='phoneregister.code'>
									<input type="button" class="fatch_code" value="免费获取验证码" @click="change">
								</div>
								<div class='num_register_item'>
									<label>
										<input type="checkbox" checked >我已阅读并且同意<a href="javascript:void(0)">美食杰用户使用协议</a>
									</label>
								</div>
								<div class="num_register_item">
									<input type="button" class="submit"  value="注册" @click='phoneMsg'>
								</div>
							</form>
						</div>
						<div class="email_register" style="display: none;">
							<form action="">
								<div class="email_register_item  input-group">
									<span class="input-group-addon glyphicon glyphicon-envelope"></span>
									<input class="form-control email" type="email"  name="email" placeholder="请输入邮箱..." v-model='emailregister.email'   @focus='emailfocus' @blur='emailblur'>
								</div>
								<div class='hint email_warning'>请输入正确的邮箱</div>
								<div class='hint email_false'>请输入正确的邮箱</div>
								<div class='hint email_true'>邮箱格式正确</div>
								<div class="email_register_item input-group">
									<span class="input-group-addon glyphicon glyphicon-lock"></span>
									<input class="form-control password" type="password"  name="password" placeholder="请输入密码..." v-model='emailregister.password' @focus='passwordfocus' @blur='E_passwordblur'>
								</div>
								<div class="hint password_hint" >密码的长度应为6-16位</div>
								<div class="strongly password_weak" >密码强度：弱</div>
								<div class="strongly password_middle" >密码强度：中</div>
								<div class="strongly password_strong" >密码强度：强</div>
								<div class='email_register_item'>
									<label>
										<input type="checkbox" checked >我已阅读并且同意<a href="javascript:void(0)">美食杰用户使用协议</a>
									</label>
								</div>
								<div class="email_register_item">
									<input type="button" class="submit" value="注册"  @click='emailMsg'>
								</div>
							</form>
						</div>
					</div>	
				</div>
			</div>
			<a href="javascript:void(0)" id="show_register">还没有账号？免费注册 ∨</a>
		</div>
	</template>


	<!-- mainfoot模块 -->
	<template id="mainfoot">
		<div class="mainfoot">
			<div class="foot_top">
				<div class="count">
					<img src="components/mainfoot/img/logo_f.png" alt='图片加载中....'>
					<div class="total">
						<div>
							<p v-for='count in data[0]'>{{count}}</p>	
						</div>
						<div>
							<p  v-for='num in data[1]'>{{num}}</p>
						</div>
					</div>
					<span v-text='data[2][0]'></span>
				</div>
				<ul class="foot_r">
					<li>
						<a href="" v-for='items in icon'>
							<img  :src="items.image" alt='图片加载中....'>
							<span>{{items.icon1}}</span><br>
							<span>{{items.icon2}}</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="foot_bottom">
				<dl class="friend_link">
					<dt>友情链接</dt>
					<dd v-for='link in links' :title="link">
						<a href="">{{link}}</a>
					</dd>
				</dl>
				<br>
				<ul class="business">
					<li v-for='work in business'>
						<a href="" title='work'>{{work}}</a>
					</li>
				</ul>
				<p>京ICP证150335号/京公网安备11010802009977 Copyright © 2003-2017 MEISHIJ CO.,LTD.</p>
			</div>
		</div>
	</template>


	<!-- alert 模块 -->
	<template id="alert">
		<div class="alert-overlay" v-show= '$store.state.isShow'>
			<div class="alert">
				<span @click = '$store.commit("close")'>&times;</span>
				<a href="index.html">开启旅行"</a>
			</div>
		</div>
	</template>
	
		
	<!-- 引入vue全家桶 -->
	<script src='index_file/vue.js'></script>
	<script src='index_file/vuex.js'></script>
	<script src='index_file/vue-resource.js'></script>

	<!-- 引入相关组件 -->
	<script src='index_file/bootstrap/js/bootstrap.min.js'></script>

	<script src='index_js/lazyload.js'></script>	
	<script src='index_js/goto_top.js'></script>
	<script src='components/login/login.js'></script>
	<script src='components/prehead/prehead.js'></script>
	<script src='components/mainfoot/mainfoot.js'></script>
	<script src='components/alert/alert.js'></script>		
	<script src='store/store.js'></script>
	<script>
		new Vue({
			el:'#app',
			store:store
		})
	</script>
</body>
</html>